<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <link href="lib/ionic/css/ionic.css" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet">
      
      <!-- ionic/angularjs js -->
      <script src="lib/ionic/js/ionic.bundle.js"></script>
      <!-- <script src="js/ng-cordova.min.js"></script>
      <script src="cordova.js"></script>
      <script src="js/firebase.js"></script>
      <script src="js/angularfire.min.js"></script>  -->
      <!-- your app's js -->
      <script src="js/app.js"></script>
      <script src="js/singleton.js"></script>
      <script src="js/decorator.js"></script>
      <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    
  </head>
    
  <body ng-app="app"> <!-- ng-controller="Hypertension">
      <!--
      The nav bar that will be updated as we navigate between views.
      -->
      <ion-nav-bar class="bar-royal">
          <ion-nav-back-button></ion-nav-back-button>
      </ion-nav-bar>
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view></ion-nav-view>

    <script id="splash.html" type="text/ng-template">
      <ion-view view-title="HealthScope">
        <ion-content class="padding" scroll="false">
          <div id="splash-wrap">
            <div id="logo"></div> <br><br>           
            <div class="buttons">      
              <button class="button button-royal button-block" ui-sref="validate">Log in</button>
              <button class="button button-royal button-block" ui-sref="signup">Sign up</button>
              <!-- <button class="button button-royal button-block" ui-sref="hypertension">Hypertension</button> -->
            </div>
          </div>
        </ion-content>
      </ion-pane>
    </script>
    
    <script id="signup.html" type="text/ng-template">
      <ion-view view-title="Sign up">
        <ion-content class="padding">
          <form ng-submit="signup()">
            <div class="list" ng-controller="RegisterController">
              <label class="item item-input">
                <input type="text" placeholder="Username" data-ng-model="username">
              </label>
              <label class="item item-input">
                <input type="email" placeholder="Email" data-ng-model="email">
              </label>
              <label class="item item-input">
                <input type="password" placeholder="Password" data-ng-model="password">
              </label>              
              <button class="button button-royal button-block" ng_click="register(username, password, email)">Sign up</button>
            </div>            
          </form>
        </ion-content>
      </ion-view>
    </script>
    
    <script id="validate.html" type="text/ng-template">
      <ion-view view-title="Log in">
        <ion-content class="padding">
          <form ng-controller="LoginController">
            <div class="list" >
              <label class="item item-input">
                <input type="text" placeholder="Username" data-ng-model="name">
              </label>
              <label class="item item-input">
                <input type="password" placeholder="Password" data-ng-model="pass">
              </label>
            </div>
            <button class="button button-royal button-block" ng_click="login(name, pass)">Log in</button>
          </form>
        </ion-content>
      </ion-view>
    </script>
      
    <script id="hypertension.html" type="text/ng-template">
      <ion-view view-title="Hypertension">
        <ion-content class="padding">
          <form>
            <div class="list">
              <label class="item item-input">
                <input type="text" placeholder="SBP" ng-model="sbp">
              </label>
              <label class="item item-input">
                <input type="text" placeholder="DBP" ng-model="dbp">
              </label>
            </div>
            <button class="button button-royal button-block" ng-click="detectView(detectLogic(sbp,dbp,'record'))">Record</button>
            <button class="button button-royal button-block" ui-sref="change">ChangePassword</button>
            <button class="button button-royal button-block" ng-click="delete()">DeleteAccount</button>
              
            <br><br>
         
            <div id="result" class="hide">
                <div class="item item-text-wrap"></div>
            </div>
              
            <br> <br> <br> <br> <br> <br> <br>
              
            <div id="suggestion" class="hide">     
                <button class="button button-royal button-block" ng-click="detectView(detectLogic(sbp,dbp,'Suggest'))">Take Advice</button>
            </div>
              
          </form>
        </ion-content>
      </ion-view>
    </script>
      
    <script id="change.html" type="text/ng-template">
      <ion-view view-title="Change password">
        <ion-content class="padding">
          <form ng-controller="ChangeController">
            <div class="list" >
              <label class="item item-input">
                <input type="password" placeholder="Old Password" data-ng-model="oldpass">
              </label>
              <label class="item item-input">
                <input type="password" placeholder="New Password" data-ng-model="newpass">
              </label>
              <button class="button button-royal button-block" ng_click="changePass(oldpass, newpass)">Change Password</button>
            </div>            
          </form>
        </ion-content>
      </ion-view>
    </script>

  </body>
</html>